<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paseosvirtuales">
    <!-- permisos y visualizacion de la app solo a dispositivos compatibles -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pv_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".activity.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/WhiteTheme">
        </activity>
        <activity
            android:name=".activity.InitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/InitTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/WhiteTheme"></activity>
        <activity
            android:name=".activity.ARActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>